.requestSection {
  display: flex;
  flex-direction: column;
}

.requestBlock {
  display: flex;

  background-color: white;
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 0 2vw 2vw 2vw;
}

.requestInfo {
  display: flex;
  justify-content: center;
  margin: 5px 2vw 5px 2vw;
  flex-grow: 1;
}

.formReq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 80vw;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input[type=text] {
  width: 100%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type=password] {
  width: 100%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type=submit] {
  width: 100%;
  /* background-color: #4CAF50; */
  /* color: white; */
  /* padding: 14px 20px; */
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  /* background-color: #45a049; */
  background-color: var(--blue-main);
  color: black;
  transition: all 0.2s ease-out;
}