:root {
  --base-color: #f9f9f9;
  --base-bg: #1e1e1e;
  --base-font-color: #fff;
  --base-font-vsColor: #000;
  --base-border: #aaa;
}

$font-stack: Helvetica, sans-serif;

$base-color: var(--base-color);
$base-border: var(--base-border);
$base-grey: #aaa;
$base-grey-light: #e6e6e6;
$base-bg: var(--base-bg);

$main-blue: #3636d6;
$main-green: #4caf50;
$main-red : rgb(253, 0, 0);

$main-link: #55158b;
$main-link-hover: #64b5ef;
$main-link-accent: #1a8ad5;

$font-color: var(--base-font-color);
$font-vsColor: var(--base-font-vsColor);

$font-white: #fff;

$main-bgcolor: #1e1e1e;

$blue-light: #0057ff;
$grey-light: #eee;
$grey-main: #aaa;

$text-color: #fff;
$second-color: #7d7f81;
$accent-color: #64b5ef;
$accent-line-color: #64b5ef;
$accent-btn-color: #000000;
$accent-color-hover: #1a8ad5;
$bubble-bgcolor: #1e1e1e;
