@import "variables";

.aboutSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aboutBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $base-bg;
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 0 2vw 2vw 2vw;
}

.aboutHeader {
  margin: 2vh 0 1vh 0;
}

.techFeed {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  width: 100%;
}

.techPart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 40%;

  border: 1px solid $base-border;
  border-radius: 5px;

  padding: 2vh 0 2vh 0;
  box-sizing: content-box;
}

.techPart_block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;

  width: 100%;
}

.techCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.techLogo {
  display: flex;

  height: 5em;
  width: 5em;

  background-color: aquamarine;
}

.techText {
    margin: 0;
}

.aboutCircle {
    position: relative;
    display: flex;
    justify-content: center;
    // align-items: flex-start;
    background-color: $base-bg;

    height: 3em;
    width: 3em;

    border: 1px solid $base-border;
    border-radius: 3em;

    
}

.aboutCircle_point {
    // background-color: $base-border;
    position: absolute;

    top: 0;

    height: 1em;
    width: 1em;

    border: 1px solid $base-border;
    border-radius: 3em;

    transition: all 350ms ease;
}

.aboutCircle:hover .aboutCircle_point {
// align-items: flex-end;
    top: calc(100% - 1em - 2px)
}