@import "variables";

.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 82vh;
}

.aboutBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;

  background-color: $base-bg;
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 0 2vw 2vw 2vw;
}

.aboutHeader {
  margin: 2vh 0 1vh 0;
}

.techFeed, .workFeed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
}

.techPart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 48%;
  height: 80%;

  border: 1px solid $base-border;
  border-radius: 5px;

  padding: 2vh 0 1vh 0;
  box-sizing: content-box;

  background-color: rgba($font-vsColor, 0.2);
}

.cardsWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  width: 100%;
}

.techCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;
  width: 15vw;
}

.techLogo {
  display: flex;
  flex-grow: 1;

  height: 5em;
  width: 5em;

  color: rgb(20 158 202)
}

.techText {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 1vh 0 0 0;
  padding: 1vh 0 0 0;

  border-top: 1px solid $base-border;
}

.techDesc {
  display: flex;
  justify-content: flex-end;

  margin: 0.5em;
}

.aboutCircle {
  position: relative;
  display: flex;
  justify-content: center;
  // align-items: flex-start;
  background-color: $base-bg;

  height: 3em;
  width: 3em;

  border: 1px solid $base-border;
  border-radius: 3em;
}

.aboutCircle_point {
  // background-color: $base-border;
  position: absolute;

  top: 0;

  height: 1em;
  width: 1em;

  border: 1px solid $base-border;
  border-radius: 3em;

  transition: all 350ms ease;
}

.aboutCircle:hover .aboutCircle_point {
  // align-items: flex-end;
  top: calc(100% - 1em - 2px);
}


.workConn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: space-around;
  // flex-grow: 1;
  width: 20%;
  height: 100%;
}

.workConn::before {
  display: flex;
  justify-content: center;
  align-items: center;

  content: '>>>>>>';
  position: absolute;
  top: 15%;

  width: 100%;

  border-bottom: 1px solid black;
}

.workConn::after {
  display: flex;
  justify-content: center;
  align-items: center;

  content: '<<<<<<';
  position: absolute;
  bottom: 35%;

  width: 100%;

  border-top: 1px solid black
}

._cluster {
  border-radius: 5px;
  box-sizing: content-box;
  padding: 1vh;
  width: 95%;

  background-color: $theme-light-bg;
}

.vsColor {
  color: black;
}

.dockerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;

  box-sizing: content-box;
  padding-top: 2vh;

  border: none;
  border-radius: 5px;

  background: $theme-docker;

  background-blend-mode: color;
}

.techDocker {
  margin-top: 1vh;
}