@import "variables";

.header {
  position: absolute;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  position: -webkit-sticky;

  top: 0;
  left: 0;

  height: 6vh;
  width: 100%;

  background-color: $base-color;

  z-index: 1;

  margin-bottom: 2vh;
}

.navContainer {
  display: flex;
  flex-direction: row;
  position: relative;

  justify-content: center;
  align-items: center;
  align-self: center;

  height: fit-content;

  margin-left: 2em;

  border: 1px solid $grey-light;
  border-radius: 4px;
}

.navContainer:hover {
  border-color: $grey-main;
}

.userContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
}

.userLoginBlock {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}

.userData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  flex-grow: 1;

  margin-right: 1vh;
}

.userName {
  display: flex;
  flex-grow: 1;

  color: $font-color;
}

.loginButton {
  display: flex;
  justify-content: center;

  /* width: 100%; */

  background-color: transparent;
  border: none;

  text-decoration: underline;

  cursor: pointer;

  font-size: medium;

  color: $main-link;
}

.loginButton:hover {
  color: $main-link-hover;
}

.userImage {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5vh;
  width: 5vh;

  margin-right: 1em;

  border-radius: 50%;

  background-color: $main-blue;
  color: white;

  font-size: 180%;

  -webkit-user-select: none;
  user-select: none;
}

.navLink {
  display: flex;

  margin-left: 2vw;
  white-space: nowrap;

  width: 20px;
  height: 20px;

  color: $main-link;
}

.navLink:hover {
  color: $main-link-hover;
}

.textLink {
  margin: 0;
  padding: 0;
  width: fit-content;
  color: $main-link;
}

.iconHome {
  background-image: url(../../icons/home-icon.svg);
  background-blend-mode: color;
  background-repeat: no-repeat;

  margin: 1px 0 0 2px;
}

.iconRandom {
  background-image: url(../../icons/random-icon.svg);
  background-repeat: no-repeat;

  margin: 4px 0 0 5px;
}

.iconLogin {
  background-image: url(../../icons/login.svg);
  background-repeat: no-repeat;

  margin: 2px 0 0 5px;
}

.iconSignup {
  background-image: url(../../icons/register.svg);
  background-repeat: no-repeat;

  margin: 4px 2px 0 5px;
}

.linkText {
  display: flex;

  border: none;

  background: none;

  font-size: inherit;
  font-family: "Mukta";
  text-decoration: underline;
  color: $main-link;

  cursor: pointer;
}

.userLoginBlock .linkText:last-child {
  margin-left: 0.5em;
}

.active {
  color: $main-link-accent;
}
