@import "variables";

.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;

  top: 0;
  left: 0;

  min-height: 6vh;
  width: 100%;

  background-color: $base-color;

  z-index: 40;

  margin-bottom: 2vh;
}

.headerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;

  max-width: 1000px;
  margin: 0;
  padding: 0;

}

.navContainer {
  display: flex;
  flex-direction: row;
  position: relative;

  justify-content: center;
  align-items: center;
  align-self: center;

  height: fit-content;

  box-sizing: border-box;
  padding: 4px;
  margin-left: 2vw;
}

.userContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 100%;

  margin-right: 2vw;
}

.userLoginBlock {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}

.userData {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;

  flex-grow: 1;

  margin-right: 1vw;
}

.userName {
  display: flex;
  flex-grow: 1;

  padding-right: 6px; 

  color: $font-color;
}

.loginButton {
  display: flex;
  justify-content: center;

  /* width: 100%; */

  background-color: transparent;
  border: none;

  text-decoration: underline;

  cursor: pointer;

  font-size: medium;

  color: $main-link;
}

.loginButton:hover {
  color: $main-link-hover;
}

.userImage {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5vh;
  width: 5vh;

  border-radius: 50%;

  background-color: $main-blue;
  color: white;

  font-size: 180%;

  -webkit-user-select: none;
  user-select: none;
}

.navLink {
  display: flex;

  white-space: nowrap;

  width: 20px;
  // height: 20px;

  color: $main-link;

  text-decoration: none;
}

.navLink:hover {
  color: $main-link-hover;
}

// .textLink {
//   margin: 0;
//   padding: 0;
//   width: fit-content;
//   color: $main-link;
// }

.iconHome {
  background-image: url(../../icons/home-icon.svg);
  background-blend-mode: color;
  background-repeat: no-repeat;

  margin: 1px 0 0 2px;
}

.iconRandom {
  background-image: url(../../icons/random-icon.svg);
  background-repeat: no-repeat;

  margin: 4px 0 0 5px;
}

.iconLogin {
  background-image: url(../../icons/login.svg);
  background-repeat: no-repeat;

  margin: 2px 0 0 5px;
}

.iconSignup {
  background-image: url(../../icons/register.svg);
  background-repeat: no-repeat;

  margin: 4px 2px 0 5px;
}

.linkText {
  display: flex;

  border: none;

  font-weight: 500;

  width: fit-content;

  padding: 0 5px;
  margin: 0 5px;

  background: none;

  font-size: inherit;
  font-family: $font-text;
  text-decoration: underline;
  color: $font-color;
  text-decoration: none;

  // border-left: 1px solid $font-color;
  // border-right: 1px solid $font-color;

  cursor: pointer;
}

// .userLoginBlock .linkText:last-child {
//   margin-left: 0.5em;
// }

.active, .linkText:hover {
  color: $main-link-accent !important;
  font-weight: 600;
  // border-color: $main-link-accent !important;
}

.themeToggle_Container {
  position: relative;

  padding: 0;
  margin: 0 10px;
  background: none;
  border: none;

  width: 40px;
  height: 20px;

  cursor: pointer;
}

.themetoggle_Block {


  height: 100%;
  width: 100%;

  background-color: $theme-light-bg;

  border-radius: 10px;

  transition: all 350ms ease;
}

.themeToggle_Point {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $theme-light;

  height: 14px;
  width: 14px;

  border-radius: 50%;

  top: 3px;
  left: 3px;

  transition: all 350ms ease;
}

.themeToggle_Point_type {
  z-index: 1;

  height: 8px;
  width: 8px;

  border: 1px solid $theme-light-bg;
  border-radius: 50%;

  transition: all 350ms ease;
}

.darkBlock {
  justify-content: flex-end;
  background-color: $theme-dark-bg;
}

.darkPoint {
  top: 3px;
  left: calc(100% - 14px - 3px);

  background-color: $theme-dark;
}

.darkType {
  position: absolute;
  top: 1%;
  left: -3px;

  height: 80%;
  width: 80%;

  background-color: $theme-dark-bg;
  border: none;
}

@media (max-width: 300px) {
.userName {
  display: none;
}

}

