@import "variables";

.welcomeSection {
  display: flex;
  flex-direction: column;
}

.welcomeBlock {
  background-color: $base-color;
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 0 2vw 2vw 2vw;
}

.welcomeInfo {
  margin: 5px 2vw 5px 2vw;
}

.requestBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;

  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 8vh 2vw 2vw 2vw;
}

.requestInfo {
  display: flex;
  justify-content: center;
  margin: 5px 2vw 5px 2vw;

  width: 50vw;
}

.formReq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 80vw;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flexInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.inputBlock {
  position: relative;
  display: flex;
  width: auto;
}

.joinSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.joinBlock {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.joinCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 10vh;
  width: 50%;

  margin: 2vh 1vw 2vh 2vw;

  text-decoration: none;

  border: 1px solid $base-border;
  border-radius: 10px;

  background: radial-gradient(rgba($base-bg, 0.5) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 1.5vmin 1.5vmin;
  background-color: rgba($base-color, 0.2);
  transition: background-position 350ms ease, padding 350ms ease,
    height 350ms ease, width 350ms ease, border 350ms ease;

  overflow: hidden;
}

.joinCard:last-child {
  margin: 2vh 2vw 2vh 1vw;
}

.joinCard:hover {
  justify-content: center;
  align-items: center;
  background-position: -15% 0;

  border: 1px solid transparent;
}

.joinCard::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  height: 10vh;
  width: 100%;
  border-radius: 10px;

  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    $main-red 65%,
    $main-blue,
    $main-green 95%
  );
  background-size: 300% 300%;
  background-position: 0% 0%;

  transition: background-position 350ms ease;

  padding: 0;
  margin: 0;
}

.joinCard:hover::before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.joinText {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 100%;

  margin: 0;
  padding: 0;

  text-align: center;

  color: $font-color;
  font-size: larger;

  background-color: transparent;

  transition: color 350ms ease;

  z-index: 2;
}

.joinCard:hover .joinText {
  background-color: transparent;

  transition: background-color 300ms ease, transform 250ms ease,
    color 500ms ease;

  animation-duration: 350ms;
  animation-iteration-count: 1;

  height: 80%;
  width: 80%;

  color: $font-vsColor;
}

.infoSection {
  display: flex;
  flex-direction: column;
}

.infoBlock {
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 0 2vw 2vw 2vw;

  background-color: rgba($base-color, 0.2);

  color: $font-color;

  overflow: hidden;
}

.infoBlock_text {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5px 2vw 5px 2vw;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.spinnerBlock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20vh;
  width: 20vh;

  // background: aliceblue;
}

.spinnerLine {
  position: absolute;

  width: 50%;
  height: 50%;

  border-bottom: 4px solid $main-red;
  border-radius: 50%;

  animation: rotatingRight 1s linear infinite;
}

.spinnerLine_middle {
  position: absolute;
  width: 30%;
  height: 30%;

  border-top: 3px solid $main-blue;
  border-radius: 50%;
  border-bottom-right-radius: 1.5px;

  animation: rotatingLeft 1.5s linear infinite;
}

.spinnerLine_center {
  position: absolute;

  width: 10%;
  height: 10%;

  border-bottom: 2px solid $main-green;
  border-radius: 50%;

  animation: rotatingRight 2s linear infinite;
}

@keyframes rotatingRight {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotatingLeft {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.headerMain {
  margin: 0px 0px 0px 0px;
}

.infoBlock_infoColumn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.infoBlock_infoColumn::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 20%;

  height: 50px;

  border-top: 2px solid $font-color;

  width: 60%;

  margin: 0;
  padding: 0;

  transition: all 350ms ease;
}

.infoBlock_infoColumn::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 80%;

  height: 50%;

  border-top: 2px solid $font-color;
  border-right: 2px solid $font-color;
  // border-radius: 100px;
  border-top-right-radius: 50px;

  width: 10%;

  margin: 0;
  padding: 0;

  transition: all 350ms ease;
}

.infoBlock_infoColumn_reversed {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.infoBlock_infoColumn_reversed::before {
  content: "";
  position: absolute;
  top: 80%;
  right: 20%;

  height: 50px;

  border-top: 2px solid $font-color;

  width: 60%;

  margin: 0;
  padding: 0;

  transition: all 350ms ease;
}

.infoBlock_infoColumn_reversed::after {
  content: "";
  position: absolute;
  top: 80%;
  right: 80%;

  height: 50%;

  border-top: 2px solid $font-color;
  border-left: 2px solid $font-color;
  // border-radius: 100px;
  border-top-left-radius: 50px;

  width: 10%;

  margin: 0;
  padding: 0;

  transition: all 350ms ease;
}

.infoImg_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-right: 1vw;
}

.infoImg_container_reversed {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-left: 1vw;
}

.infoText,
.infoBlock_text {
  display: flex;
  flex-grow: 1;

  margin: 0.5vh 0;

  text-align: left;
  word-spacing: normal;
}

.infoText_revesed,
.infoBlock_text_reversed {
  display: flex;
  flex-grow: 1;

  margin: 0.5vh 0;

  text-align: right;
  word-spacing: normal;
}

.infoBlock_text {
  margin: 2vh 0;
}

.infoText_column {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;

  width: 50%;

  margin-left: 1vw;
}

.infoText_column_reversed {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;

  width: 50%;

  margin-right: 1vw;
}

.infoImg {
  display: flex;

  width: 40vw;
  height: 40vw;

  max-width: 250px;
  max-height: 250px;

  background: radial-gradient($base-bg 60%, transparent 80%);

  border-radius: 10px;

  z-index: 1;
}

.infoBlock_infoEnd {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.logoSection {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin: 2vh 0;
}

.logoBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoLogo {
  text-align: center;
  font-size: 72px;
  letter-spacing: -2px;
  word-spacing: -2px;

  color: $font-color;

  margin: 0;
  transition: all 1350ms ease;

  background: linear-gradient(
    $font-color 40%,
    $main-red 55%,
    $main-blue 75%,
    $main-green 80%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 3em;
  background-position: 0 0em;
  background-repeat: no-repeat;
  transition: background-position 1350ms ease;
}

.logoLogo:hover {
  background-position: 0 -1.5em;
}

.logoText {
  margin: 0.5em 0;
  color: $font-color;

  transition: color 1350ms ease;
}

p,
h1,
h2,
h4,
h6,
span {
  transition: color 350ms ease;
}

@media (max-width: 300px) {
  .logoLogo {
    background: linear-gradient(
      $font-color 40%,
      $main-red 55%,
      $main-blue 70%,
      $main-green 90%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 6em;
    background-position: 0 0em;
  }

  .logoLogo:hover {
    background-position: 0 -3em;
  }

  .joinBlock {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .joinCard {
    display: flex;
    flex-grow: 1;
    max-width: 100%;

    margin: 0 2vw;
    flex-grow: 1;
  }

  .iconHome, .iconRandom, .iconLogin, .iconSignup {
    display: none;
  }

  .infoText_column, .infoText_column_reversed {
    margin: 0 0 2vh 0;
  }
}
