@import "variables";

.welcomeSection {
  display: flex;
  flex-direction: column;
}

.welcomeBlock {
  background-color: $base-color;
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 0 2vw 2vw 2vw;
}

.welcomeInfo {
  margin: 5px 2vw 5px 2vw;
}

.requestBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;

  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 5vh 2vw 2vw 2vw;
}

.requestInfo {
  display: flex;
  justify-content: center;
  margin: 5px 2vw 5px 2vw;

  width: 50vw;
}

.formReq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 80vw;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flexInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.inputBlock {
  position: relative;
  display: flex;
  width: auto;
}



.joinSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.joinBlock {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.joinCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  flex-grow: 1;

  height: 10vh;
  // width: 30vw;

  margin: 5vh 1vw 5vh 2vw;

  text-decoration: none;
  
  border: 1px solid $base-border;
  border-radius: 10px;
  
  background: radial-gradient(rgba($base-bg, 0.5) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 1.5vmin 1.5vmin;
  background-color: rgba($base-color, 0.2);
  transition: background-position 350ms ease, padding 350ms ease,
    height 350ms ease, width 350ms ease, border 350ms ease;

  overflow: hidden;
}

.joinCard:last-child {
  margin: 5vh 2vw 5vh 1vw;
}

.joinCard:hover {
  justify-content: center;
  align-items: center;
  background-position: -15% 0;

  border: 1px solid transparent;
}

.joinCard::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  height: 10vh;
  width: 100%;
  border-radius: 10px;

  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    $main-red 65%,
    $main-blue,
    $main-green 95%
  );
  background-size: 300% 300%;
  background-position: 0% 0%;

  transition: background-position 350ms ease;

  padding: 0;
  margin: 0;
}

.joinCard:hover::before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

// .joinCard::after {
//   content: "";
//   display: flex;
//   position: absolute;

//   align-self: flex-start;

//   left: -1px;
//   top: 65%;

//   width: 1px;
//   height: 50px;

//   background: linear-gradient(transparent, $main-link, transparent);

//   transition: top 600ms ease, opacity 600ms ease;
// }

// .joinCard:hover::after {
//   top: 25%;

//   transition: top 600ms ease, opacity 600ms ease;
// }

.joinText {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 100%;

  margin: 0;
  padding: 0;

  text-align: center;

  color: $font-color;
  font-size: larger;


  background-color: transparent;

  transition: color 350ms ease;

  z-index: 2;
}

.joinCard:hover .joinText {
  background-color: transparent;

  transition: background-color 300ms ease, transform 250ms ease;

  animation-duration: 350ms;
  animation-iteration-count: 1;

  height: 80%;
  width: 80%;
}

.infoSection {
  display: flex;
  flex-direction: column;
}

.infoBlock {
  // background-color: white;
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 0 2vw 2vw 2vw;

  border: 1px solid $base-border;

  background: radial-gradient(rgba($base-bg, 0.5) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 1.5vmin 1.5vmin;
  background-color: rgba($base-color, 0.2);
  transition: background-position 350ms ease, padding 350ms ease,
    height 350ms ease, width 350ms ease, border 350ms ease,
    color 350ms ease;

    color: $font-color;

  overflow: hidden;
}

.infoBlock_text {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5px 2vw 5px 2vw;
}
