@import "variables";

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $base-grey;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type="password"] {
  width: 100%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $base-grey;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.formReq input[type="submit"] {
  width: 50%;
}

input[type="submit"], .inputButton {
  width: 100%;
  background-color: $main-green;
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  border: 1px solid $main-green;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in;

  color: $font-color;
}

input[type="submit"]:disabled, .inputButton:disabled {
  background-color: rgba($base-color, 0.5);
  border: 1px solid $base-grey-light;
  cursor: default;

  color: $font-color;
  opacity: 0.5;
}

input[type="submit"]:hover, .inputButton:hover {
  border: 1px solid transparent;
  background-color: $main-blue;
  color: $font-color;
  transition: all 0.2s ease-out;
  
  opacity: 1;
}

input[type="submit"]:disabled:hover, .inputButton:disabled:hover {
  border: 1px solid $base-grey-light;
  background-color: rgba($base-color, 0.7);
}
.popupLogin {
  position: fixed;
  top: 0;
<<<<<<< HEAD:src/ui/utilities/Inputs.scss

=======
  /* z-index: 1; */
>>>>>>> b7b27ea5857756ebf6c73d2822a201b69f6284ee:src/ui/InputForms/Inputs.scss
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: $base-bg;
}

::-webkit-scrollbar {
  display: none;
}

.loginSection {
  position: fixed;
  top: 30%;

  width: 40vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signupBlock {
  position: fixed;
  top: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 450px;

  background-color: var(--grey-light);

  border-radius: 4px;
}

.signupForm,
.loginBlock {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;

  padding:0;
}

.eye {
  content: url(../../icons/iconsItems/eyeClosed.svg);
  
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;

  right: 5px;

  margin: 0;
  padding: 11px 0 0 0;

  cursor: pointer;

  user-select: none;
}

.eyeOpen {
  content: url(../../icons/iconsItems/eyeOpen.svg);
}

@media (max-width: 450px) {
  .loginBlock {
    width: 80%;
  }
}

.testForm {
  display: flex;
  position: relative;
  flex-direction: row;
}

.subButton {
  display: inline-block;

  margin: 8px 0;
  padding: 5px;

  box-sizing: border-box;

  border: 1px solid $base-grey-light;
  border-radius: 4px;

  text-align: center;

  cursor: pointer;

  flex-grow: 1;
}

.subButton:hover {
  background-color: $main-blue;
  border: 1px solid transparent;
}

.subButtText {
  margin: 0;
  padding: 0;
}

.greenHighlight {
  border: 1px solid green;
}

.redHighlight {
  border: 1px solid rgb(252, 94, 94);
}

.questionMark {
  font-family: "arial";
  font-size: 13.33px;

  height: 100%;
  width: 30px;

  margin: 8px 0 8px 0.5vw;
  padding: 5px 9px;

  box-sizing: border-box;

  border: 1px solid $base-grey-light;
  border-radius: 4px;

  text-align: center;

<<<<<<< HEAD:src/ui/utilities/Inputs.scss
  color: $font-color;
=======
  color: $font-base;
>>>>>>> b7b27ea5857756ebf6c73d2822a201b69f6284ee:src/ui/InputForms/Inputs.scss

  user-select: none;
  cursor: help;

  transition: border 350ms ease,
  color 350ms ease;
}

.questionMark:hover {
  border: 1px solid rgba($base-color, 0.5);
  transition: all 0.2s ease-out;
<<<<<<< HEAD:src/ui/utilities/Inputs.scss
  color: $font-color;
=======

  // color: rgba($font-black, 0.5);
>>>>>>> b7b27ea5857756ebf6c73d2822a201b69f6284ee:src/ui/InputForms/Inputs.scss
}

.helpBlock {
  display: flex;
  position: absolute;

  top: 100%;
  right: 0;

  padding: 5px;
  border-radius: 5px;

  background: $base-color;
}

.inputButton {
  background-color: rgba($base-grey, 1);
  border: 1px solid rgba($base-grey-light, 0.2);
  cursor: default;

  color: rgba($font-vsBase, 0.2);
}

.inputButton:hover {
    /* background-color: #45a049; */
    border: 1px solid transparent;
    background-color: $main-blue;
    // color: black;
    transition: all 0.2s ease-out;
    color: rgba($font-vsBase, 0.8);
}
