@import "variables";

.notfound {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
}

.notfoundBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 10vh;
}

.notfoundLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.margin {
    margin: 2vh 1vw 0 1vw;
}