@import "variables";

.feedSection {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1000px;

  margin-top: 2vh;
}

.feedBlock {
//   background-color: $base-color;
  border-radius: 25px;
  border: none;

  min-height: 80vh;
  
  margin: 0 2vw 0 2vw;
}

.feedList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 5px 0 5px 0;
  padding: 0;
}

.itemSection {
  display: flex;

  list-style: none;

  width: 100%;
  height: fit-content;
  max-height: 15vh;

  border: 1px solid grey;
  border-radius: 5px;

  margin: 10px 0 0 0;
}

.itemSection:last-child {
  margin-bottom: 10px;
}

.itemSection:hover {
  border: 4px solid;
  border-image-source: linear-gradient(to right, $main-red, $main-green);
  border-image-slice: 0 1 0;
  box-sizing: border-box;
  
  border-color: transparent $base-border transparent $base-border;
  
  cursor: pointer;
  // background-color: rgba(0, 0, 0, 0.1);
}

.itemBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding: 1vh 1vw;

  color: $font-color;

  width: 100%;
}

.itemImage {
  width: 10%;
  // height: auto;

  object-fit: contain;

  border-radius: 5px;

  background-color: grey;
}

.itemBlock_info {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-left: 1vw;
}

.itemName {
  display: flex;
  flex-grow: 1;
  font-size: large;
  font-weight: 600;

  margin: 0;

  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.itemInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;

  width: 100%;
}

.itemInfo_left {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
}

.itemInfo_right {
  display: flex;
  justify-self: end;
}

.rating::before {
  content: "";
  background: url(../../icons/iconsItems/starBlack.svg) no-repeat;
  display: flex;
  float: left;

  height: 20px;
  width: 20px;

  margin: 0 0 2px 0;
}
