@import "variables";

.feedSection {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1000px;

  margin-top: 2vh;
}

.feedBlock {
  //   background-color: $base-color;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 25px;
  border: none;

  min-height: 80vh;

  margin: 0 2vw 0 2vw;
}

.feedList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  margin: 5px 0 5px 0;
  padding: 0;
}

.itemSection {
  position: relative;
  display: flex;

  list-style: none;

  width: 100%;
  height: fit-content;
  max-height: 15vh;

  border: 1px solid $base-border;
  border-radius: 5px;

  margin: 10px 0 0 0;
  // box-sizing: border-box;

  transition: border 150ms ease, transform 150ms ease;
}

.itemSection:last-child {
  margin-bottom: 10px;
}

.itemSection:hover {
  border: 4px solid;
  border-image-source: linear-gradient(to right, $main-red, $main-green);
  border-image-slice: 0 1 0;
  box-sizing: border-box;

  border-top: 0;
  border-bottom: 0;

  border-color: transparent $base-border transparent $base-border;

  cursor: pointer;

  transform: scale(1.025);

  // background-color: rgba(0, 0, 0, 0.1);
}

.itemBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding: 1vh 1vw;

  color: $font-color;

  width: 100%;
}

.feedImage {
  align-self: center;

  width: 10vh;
  height: 10vh;

  object-fit: contain;

  border-radius: 5px;
}

.itemBlock_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  margin-left: 1vw;
}

.itemName {
  display: flex;
  flex-grow: 1;
  font-size: large;
  font-weight: 600;

  margin: 0;

  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.itemInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;


  width: 100%;
}

.rowAlways {
  flex-direction: row;
}

.itemInfo_left {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
}

.itemInfo_right {
  display: flex;
  justify-self: end;
}

.rating::before {
  content: "";
  background: url(../../icons/iconsItems/starBlack.svg) no-repeat;
  display: flex;
  float: left;

  height: 20px;
  width: 20px;

  margin: 0 0 2px 0;
}

.container {
  display: flex;
  position: relative;
  /* flex-direction: row; */

  /* min-height: 30vh; */
  background-color: $base-bg;

  border-radius: 25px;
  margin: 0 2vw 2vw 2vw;
}

.canvas {
  display: block;
  position: relative;
  background-color: $base-bg;

  padding-left: 0;
  padding-right: 0;
  margin: 2vw 2vw 2vw 2vw;
  /* margin-right: auto; */
  display: block;
  width: 100%;
  height: 20vh;
  border-radius: 25px;

  /* border: 1px solid black; */
}

.favIcon {
  height: 1.5em;
  width: 1.5em;
  fill: $theme-light-bg;

}

.favIcon:hover {
  fill: $theme-light;
}

@media (max-width: 395px) {
  .itemBlock_info,
  .itemName,
  .itemInfo {
    font-size: 0.9em;
  }

  .itemInfo_right {
    font-size: 0.8em;
  }

  .itemInfo {
    flex-direction: column;
    flex-grow: 1;
  }

  .itemInfo_left {
    flex-direction: row;
  }

  .itemName {
    display: flex;
    justify-content: flex-end;

    // height: 0.1em;
  }

  .rating, .price {
    display: flex;
    margin-right: 2vw;
    align-items: center;

    font-size: 0.9em;
  }

  .price {
    margin: 0;
  }

  .rating::before {
    align-items: center;
  }

  .feedList {
    width: 95%;
  }

  .rowAlways {
    flex-direction: row;
  }
}
