.popupLogin {
    position: fixed;
    /* top: 0; */
    /* z-index: 1; */
    display: flex;
  
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.8);
  
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .signupBlock {
    position: fixed;
    top: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    width: 450px;
  
    background-color: var(--grey-light);
  
    border-radius: 4px;
  }
  
  .signupForm {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  
  .eye {
    content: url(../../icons/hidedEye.svg);
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
  
    /* left: 90%; */
    right: 20px;
    
    margin: 0;
    padding: 11px 0 0 0;
  
    cursor: pointer;
  
    user-select: none;
  }
  
  .eyeOpen {
    content: url(../../icons/openEye.svg);
  
  }
  
  @media (max-width: 450px) {
    .loginBlock {
      width: 80%;
    }
  }
  
  .subButton {
    display: inline-block;

    margin: 8px 0;
    padding: 5px;

    box-sizing: border-box;

    border: 1px solid #ccc;
    border-radius: 4px;

    text-align: center;
  }

  .subButton:hover {
    background-color: var(--blue-main);
    border: 1px solid transparent;
  }

  .greenHighlight {
    border: 1px solid green;
  }

  .redHighlight {
      border: 1px solid rgb(252, 94, 94)
  }