.header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;



  top: 0;
  left: 0;

  height: 10vh;

  /* background-color: white; */
  background-color: #f9f9f9;
  /* border-bottom: 1px solid #19191979; */
  z-index: 1;

  margin-bottom: 2vh;

  /* border-radius: 0 0 25px 25px; */
}

.navContainer {
  display: flex;
  flex-direction: row;
  position: relative;

  justify-content: center;
  align-items: center;
}

.navIcon {
  display: flex;

  align-items: center;

  height: 4vh;
}

.navLink {
  display: flex;

  margin-left: 2vw;
}

.userContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
}

.userData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  height: 100%;
  padding-right: 1vh;
}

.userName {
  display: flex;

  padding-bottom: 2px;
}

.loginButton {
  display: flex;
  justify-content: center;

  /* width: 100%; */

  background-color: transparent;
  border: none;

  text-decoration: underline;

  cursor: pointer;

  font-size: medium;

  color: #0057ff;
}

.loginButton:hover {
  color: blue;
}

.userImage {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 5vh;
  width: 5vh;

  margin-right: 2vw;

  border-radius: 50%;

  background-color: #0057ff;
  color: white;

  font-size: 180%;

  -webkit-user-select: none;
  user-select: none;
}

.navIcon {
  height: 2em;
}

.iconHome {
  background-image: url(../icons/home-icon.svg);
  background-repeat: no-repeat;
  height: 2em;
  width: 2em;
}

.iconRandom {
  background-image: url(../icons/random-icon.svg);
  background-repeat: no-repeat;
  height: 2em;
  width: 2em;

  margin: 4px 0 0 10px;
}