.changeForm {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    width: 30%;
}
  .subButton {
    display: inline-block;

    margin: 8px 0;
    padding: 5px;

    box-sizing: border-box;

    border: 1px solid #ccc;
    border-radius: 4px;

    text-align: center;


  }

  .subButton:hover {
    background-color: var(--blue-main);
    border: 1px solid transparent;
  }

  .greenHighlight {
    border: 1px solid green;
  }

  .redHighlight {
      border: 1px solid rgb(252, 94, 94)
  }

/* @media (max-width: 450px) {
    .loginBlock {
      width: 80%;
    }
  } */