.errorSection {
    position: absolute;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 2;
}

.errorBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--grey-light);

    border-radius: 4px;

    width: 60%;
    height: 30%;
}

.errorHeader {
    display: flex;
    align-self: flex-start;

    margin: 2vh 0 0 2vw;
}

.errorText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorButton_close {
    display: flex;

    background-color: none;

    border: 1px solid black;
    border-radius: 4px;

    box-sizing: content-box;
    padding: 5px 15px 5px 15px;

    margin-bottom: 3vh;
}

.errorButton_close:hover {
    background-color: var(--blue-main);
    border: 1px solid transparent;
}

.errorButton_close:active {
    background-color: #1b1b6b;
    border: 1px solid transparent;
}

.closingIcon {
    position: absolute;
    margin: 1vh 0 0 55%;
    width: 25px;
}

.closingIcon:hover {
    transform: rotate(90deg);
    transition: all 0.2s ease-out;
}