@import "../ui/utilities/variables";

.welcomeSection {
  display: flex;
  flex-direction: column;
}

.welcomeBlock {
  background-color: $base-color;
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 0 2vw 2vw 2vw;
}

.welcomeInfo {
  margin: 5px 2vw 5px 2vw;
}

.requestBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  // background-color: white;
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 5vh 2vw 2vw 2vw;
}

.requestInfo {
  display: flex;
  justify-content: center;
  margin: 5px 2vw 5px 2vw;

  width: 50vw;
}

.formReq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 80vw;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flexInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.inputBlock {
  position: relative;
  display: flex;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $base-grey;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type="password"] {
  width: 100%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $base-grey;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.formReq input[type="submit"] {
  width: 50%;
}

input[type="submit"] {
  width: 100%;
  background-color: $main-green;
  /* color: white; */
  /* padding: 14px 20px; */
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  border: 1px solid $main-green;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

input[type="submit"]:disabled {
  background-color: rgba($base-color, 0.5);
  border: 1px solid $base-grey-light;
  cursor: default;
}

input[type="submit"]:hover {
  /* background-color: #45a049; */
  border: 1px solid transparent;
  background-color: $main-blue;
  color: black;
  transition: all 0.2s ease-out;
  
}

input[type="submit"]:disabled:hover {
  border: 1px solid $base-grey-light;
  background-color: rgba($base-color, 0.7);
}

.joinSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.joinBlock {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.joinCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 25vh;
  width: 15vw;

  padding: 2.5vh 2.5vw;

  // box-sizing: border-box;
  // padding: 2vw;
  margin: 5vh 0;

  text-decoration: none;
  
  border: 1px solid white;
  border-radius: 10px;
  
  background: radial-gradient(rgba($base-bg, 0.5) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 1.5vmin 1.5vmin;
  background-color: rgba($base-color, 0.2);
  transition: background-position 350ms ease, padding 350ms ease,
    height 350ms ease, width 350ms ease, border 350ms ease;
}

.joinCard:hover {
  justify-content: center;
  align-items: center;
  background-position: -15% 0;
  padding: 0;

  height: 30vh;
  width: 20vw;

  border: 1px solid transparent;

  overflow: hidden;
}

.joinCard::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  // width: 100%;
  // height: 100%;

  height: 30vh;
  width: 20vw;

  box-sizing: border-box;

  border-radius: 10px;

  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    red 66%,
    $blue-light,
    $main-green 100%
  );
  background-size: 300% 300%;
  background-position: 0% 0%;

  transition: background-position 350ms ease;

  padding: 0;
  margin: 0;

  z-index: 1;
}

.joinCard:hover::before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.joinCard::after {
  content: "";
  display: flex;
  position: absolute;

  align-self: flex-start;

  left: -1px;
  top: 65%;

  width: 1px;
  height: 50px;

  background: linear-gradient(transparent, red, transparent);

  transition: top 600ms ease, opacity 600ms ease;
}

.joinCard:hover::after {
  top: 25%;

  transition: top 600ms ease, opacity 600ms ease;
}

.joinText {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 100%;

  margin: 0;
  padding: 0;

  // box-sizing: border-box;

  // border: 1px solid #ccc;
  // border-radius: 4px;

  text-align: center;

  color: $font-black;
  font-size: larger;


  background-color: transparent;

  z-index: 2;
}

// .butt:hover {
//   background-color: $main-green;
//   // border: 1px solid transparent;
//   color: black;
//   transition: all 0.2s ease-out;
// }

.joinCard:hover .joinText {
  background-color: transparent;
  // transform: translateY(10%);

  transition: background-color 300ms ease, transform 250ms ease;

  animation-duration: 350ms;
  animation-iteration-count: 1;
  animation-name: grow;

  // transform: translateY(50%);
  height: 80%;
  width: 80%;
}

// .butt:hover .joinCard::before {
//   width: 80%;
//   background: white;
//   padding: 0;
// }
