@import "../ui/utilities/variables";

.welcomeSection {
  display: flex;
  flex-direction: column;
}

.welcomeBlock {
  background-color: $base-colour;
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 0 2vw 2vw 2vw;
}

.welcomeInfo {
  margin: 5px 2vw 5px 2vw;
}

.requestBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  // background-color: white;
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 5vh 2vw 2vw 2vw;
}

.requestInfo {
  display: flex;
  justify-content: center;
  margin: 5px 2vw 5px 2vw;

  width: 50vw;
}

.formReq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 80vw;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $base-grey;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type="password"] {
  width: 100%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $base-grey;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.formReq input[type="submit"] {
  width: 50%;
}

input[type="submit"] {
  width: 100%;
  background-color: $main-green;
  /* color: white; */
  /* padding: 14px 20px; */
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  border: 1px solid $main-green;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

input[type="submit"]:disabled {
  background-color: transparent;
  border: 1px solid #ccc;
}

input[type="submit"]:hover {
  /* background-color: #45a049; */
  border: 1px solid transparent;
  background-color: $main-blue;
  color: black;
  transition: all 0.2s ease-out;
}

input[type="submit"]:disabled:hover {
  border: 1px solid #ccc;
  background-color: inherit;
}

.joinSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.joinBlock {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.joinCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  height: 30vh;
  width: 20vw;

  // box-sizing: border-box;
  // padding: 2vw;
  margin: 5vh 0;

  background-color: $base-colour;

  border: 1px solid white;
  border-radius: 10px;

  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  transition: background-position 350ms ease;
}

.joinCard:hover {
  background-position: -10% 0;
}


.joinCard::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(130deg, transparent 0% 33%, $blue-light 66%, $main-bgcolor, $main-green 100%);
  background-size: 300% 300%;
  background-position: 0% 0%;

  transition: background-position 350ms ease;

  padding: 0;
  margin: 0;

  z-index: 1;
}

.joinCard:hover::before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.joinCard::after {
  content: '';
  display: flex;
  position: absolute;

  align-self: flex-start;

  left: -1px;
  top: 65%;

  width: 1px;
  height: 50px;

  background: linear-gradient(transparent, $base-bg, transparent);

  transition: top 600ms ease,
    opacity 600ms ease, ;
}

.joinCard:hover::after {
  top: 25%;

  transition: top 600ms ease,
    opacity 600ms ease;
}

.butt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 100%;

  margin: 0;
  padding: 5px;

  box-sizing: border-box;

  border: 1px solid #ccc;
  border-radius: 4px;

  text-align: center;

  color: rgba(255, 255, 255, 0.8);
  font-size: medium;

  background-color: $main-blue;

  z-index: 2;
}

// .butt:hover {
//   background-color: $main-green;
//   // border: 1px solid transparent;
//   color: black;
//   transition: all 0.2s ease-out;
// }

.joinCard:hover .butt {
  
  height: 100%;
  background-color: transparent;
  transform: translateY(-3%);

  transition: height 1000ms ease;
}

.butt:hover .joinCard::before {
  width: 80%;
  background: white;
  padding: 0;
}

.joinText {
  // height: 10%;
  
  transition: height 300ms ease;
}

.joinCard:hover .joinText {
  height: 0%;
  position: fixed;
  background-color: transparent;

}