.page {
    display: flex;
    flex-direction: column;

}

.mainInfo {
    display: flex;
    flex-direction: row;

    margin-bottom: 2vw;
    margin: 0 2vw 2vh 2vw;
}

.mainContainer {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

}

.container {
    display: flex;

    width: 100%;
    border-radius: 25px;


    /* background-color: #f9f9f9; */
    background-color: white;
}

section:last-child {
    margin-bottom: 2vh;
}