.page {
    display: flex;
    flex-direction: column;

}

.mainInfo {
    display: flex;
    flex-direction: row;

    margin-bottom: 2vw;
}

.mainContainer {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    margin-right: 2vw;

    /* border: 1px solid #19191979; */
    /* background-color: antiquewhite; */
}

.container {
    display: flex;

    width: 100%;
    border-radius: 25px;


    /* background-color: #f9f9f9; */
    background-color: white;
}