@import "../utilities/variables";

.popupLogin {
  position: fixed;
  /* top: 0; */
  /* z-index: 1; */
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: $base-bg;
}

::-webkit-scrollbar {
  display: none;
}

.loginSection {
  position: fixed;
  top: 30%;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signupBlock {
  position: fixed;
  top: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 450px;

  background-color: var(--grey-light);

  border-radius: 4px;
}

.signupForm {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.eye {
  content: url(../../icons/hidedEye.svg);
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;

  /* left: 90%; */
  right: 20px;

  margin: 0;
  padding: 11px 0 0 0;

  cursor: pointer;

  user-select: none;
}

.eyeOpen {
  content: url(../../icons/openEye.svg);
}

@media (max-width: 450px) {
  .loginBlock {
    width: 80%;
  }
}

.subButton {
  display: inline-block;

  margin: 8px 0;
  padding: 5px;

  box-sizing: border-box;

  border: 1px solid #ccc;
  border-radius: 4px;

  text-align: center;
}

.subButton:hover {
  background-color: var(--blue-main);
  border: 1px solid transparent;
}

.greenHighlight {
  border: 1px solid green;
}

.redHighlight {
  border: 1px solid rgb(252, 94, 94);
}

.questionMark {
  font-family: "arial";
  font-size: 13.33px;

  margin: 8px calc(1vw + 12px) 8px calc(1vw);
  padding: 5px 9px;

  box-sizing: border-box;

  border: 1px solid #ccc;
  border-radius: 4px;

  text-align: center;

  user-select: none;
  cursor: help;
}

.questionMark:hover {
  border: 1px solid var(--blue-main);
  transition: all 0.2s ease-out;
}
