@import "../utilities/variables";

.popupLogin {
  position: fixed;
  /* top: 0; */
  /* z-index: 1; */
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: $base-bg;
}

::-webkit-scrollbar {
  display: none;
}

.loginSection {
  position: fixed;
  top: 30%;

  width: 40vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signupBlock {
  position: fixed;
  top: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 450px;

  background-color: var(--grey-light);

  border-radius: 4px;
}

.signupForm,
.loginBlock {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;

  padding:0;
}

.eye {
  content: url(../../icons/hidedEye.svg);
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;

  /* left: 90%; */
  right: 5px;

  margin: 0;
  padding: 11px 0 0 0;

  cursor: pointer;

  user-select: none;
}

.eyeOpen {
  content: url(../../icons/openEye.svg);
}

@media (max-width: 450px) {
  .loginBlock {
    width: 80%;
  }
}

.testForm {
  display: flex;
  position: relative;
  flex-direction: row;

  // width: 95%;

  // padding: 15px;
}

.subButton {
  display: inline-block;

  margin: 8px 0;
  padding: 5px;

  box-sizing: border-box;

  border: 1px solid $base-grey-light;
  border-radius: 4px;

  text-align: center;

  cursor: pointer;

  flex-grow: 1;
}

.subButton:hover {
  background-color: $blue-light;
  border: 1px solid transparent;
}

.subButtText {
  margin: 0;
  padding: 0;
}

.greenHighlight {
  border: 1px solid green;
}

.redHighlight {
  border: 1px solid rgb(252, 94, 94);
}

.questionMark {
  font-family: "arial";
  font-size: 13.33px;

  height: 100%;
  width: 30px;

  margin: 8px 0 8px 0.5vw;
  padding: 5px 9px;

  box-sizing: border-box;

  border: 1px solid $base-grey-light;
  border-radius: 4px;

  text-align: center;

  color: $base-color;

  user-select: none;
  cursor: help;

  transition: border 350ms ease,
  color 350ms ease;
}

.questionMark:hover {
  border: 1px solid rgba($base-color, 0.5);
  transition: all 0.2s ease-out;
  color: rgba($base-color, 0.5);
}

.helpBlock {
  display: flex;
  position: absolute;

  top: 100%;
  right: 0;

  padding: 5px;
  border-radius: 5px;

  background: $base-color;
}
