.infoSection {
  display: flex;
  flex-direction: column;
}

.infoBlock {
  background-color: white;
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 0 2vw 2vw 2vw;
}

.infoBlock_text {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5px 2vw 5px 2vw;
}

.headerMain {
}
