.welcomeSection {
  display: flex;
  flex-direction: column;
}

.welcomeBlock {
  background-color: white;
  border-radius: 25px;
  border: none;

  min-height: 10vh;

  margin: 0 2vw 2vw 2vw;
}

.welcomeInfo {
    margin: 5px 2vw 5px 2vw;
}

