@use "./ui/Header.scss";
@use "./pages/HomePage.scss";
@use "./ui/InputForms/Inputs.scss";

@import "./ui/utilities/variables";

body {
  font: 100% $font-stack;

  margin: 0;
  padding: 0;
}

.mainBody {
  display: flex;
  flex-direction: column;

  // background: linear-gradient($main-bgcolor, $base-color);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  height: 100%;
  width: 100%;

  background: linear-gradient($base-color 15%, $base-grey);
  background-color: $base-grey;
}

.mainSection {
  display: flex;

  width: 1000px;
}
