@use "./ui/utilities/HomePage.scss";
@use "./ui/utilities/Inputs.scss";
@use "./ui/utilities/userFeed.scss";
@use "./ui/utilities/ItemPage.scss";
@use "./ui/utilities/errorPopUp.scss";
@use "./ui/utilities/aboutpage.scss";
@use "./ui/utilities/notificator.scss";
@use "./ui/utilities/Header.scss";
@use "./ui/utilities/notfound.scss";

@import "./ui/utilities/variables";

html, body {
  // position: relative;
  display: flex;
  justify-content: center;

  width: 100%;

  margin: 0;
  padding: 0;
  background-color: $base-bg;
  font: 100% $font-stack;
}

.mainBody {
  display: flex;
  flex-direction: column;

  // background: linear-gradient($main-bgcolor, $base-color);
}

#root {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  // background: linear-gradient($base-color 15%, $base-grey);
  background-color: $base-bg;

  width: 100%;
  height: 100%;
}

.mainSection {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1000px;
  min-height: 82vh;
}

.footerSection {
  // position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 10vh;

  background-color: black;

  bottom: 0;
}

.footerBlock {
  display: flex;
  flex-direction: row;

  flex-grow: 1;

  max-width: 1000px;
}

.footerBlock_left,
.footerBlock_middle,
.footerBlock_right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  justify-content: center;
  align-items: center;

  width: 25%;

  margin: 0 2vw;
  // padding-top: 2vh;

  color: white;
}

.footerBlock_left {
  align-items: flex-start;
}

.footerBlock_right {
  align-items: flex-end;
}


.gitBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gitIcon {
  width: 4vh;
  height: 4vh;
}

.gitLogo {
  width: 6vh;
}