:root {
  --blue-main: #3636d6;
  --grey-light: #eee;
}

p, h1 {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Mukta', sans-serif, 'Segoe UI',  'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--grey-light);

  /* position: relative; */
  /* height: 100vh; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @media (prefers-color-scheme: dark)  {
  body, section, div, h1, p, form, input {
    background-color: #1f2023 !important;
    color: #dadada !important;
  }
} */